# Игнорируем виртуальное окружение (оно у каждого свое)
venv/
env/

# Игнорируем кэш питона
__pycache__/
*.pyc

# Игнорируем сгенерированные файлы и логи
lecture.docx
*.log
api-key.txt

# Игнорируем настройки IDE (если пользуешься PyCharm или VS Code)
.idea/
.vscode/
.DS_Store
